<%- include('template/head') %>
<body>
  <%- include('template/navbar') %>
  <div class="content" id="content-index">

    <div class="side-bar">
      <a href="#">
        <h6>What is Climate Change?</h6>
      </a>
      <a href="#">
        <h6>About UN's goal 13</h6>
      </a>
      <a href="#">
        <h6>About UN's goal 13</h6>
      </a>
      <a href="#">
        <h6>About UN's goal 13</h6>
      </a>
    </div>

    <div id="sub-content">

      <h2>What is Climate Change?</h2>

      <div class="content-box">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non velit mi. Quisque condimentum quam dolor, vel fermentum ex rutrum eget. Etiam malesuada ornare dui eget facilisis. Aliquam luctus sagittis libero. Aliquam erat volutpat. Vestibulum ac odio nisi. Nam tempor lacus sit amet ligula venenatis venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
      </div>

    </div>

    

  </div>
  
  

</body>
</html>
