<%- include('template/head') %>
<body>
  <%- include('template/navbar') %>
  <div id="content-index">

    <div class="side-bar">
      <a href="#">
        <h6>What is Climate Change?</h6>
      </a>
      <a href="#">
        <h6>About UN's goal 13</h6>
      </a>
      <a href="#">
        <h6>About UN's goal 13</h6>
      </a>
      <a href="#">
        <h6>About UN's goal 13</h6>
      </a>
    </div>

  </div>
  
  

</body>
</html>
