<%- include('template/head') %>
<body>
  <%- include('template/navbar') %>

  <div id="content-take-action">
    <h1>Take Action</h1>

    <div class="img-content-box">
        <img src="../public/images/earth-water.png" width="200px" height="200px" alt="water-drop-icon">
        <div class="content">
            <p>Reduce Water Usage</p>
            <hr>
            <ul>
                <li>Fix leaks and install water-saving fixtures.</li>
                <li>Water your garden during cooler times of the day to reduce evaporation.
                    Transportation:</li>
            </ul>
        </div>
      </div>

      <div class="img-content-box">
        <img src="../public/images/public-transport.png" width="200px" height="200px" alt="transportation-icon">
        <div class="content">
            <p>Transportation</p>
            <hr>
            <ul>
                <li><b>Public Transit:</b> Use public transportation, carpool, or bike when possible.</li>
                <li><b>Electric Vehicles (EVs):</b> Consider switching to an electric vehicle or a more fuel-efficient </li>
            </ul>
        </div>
      </div>

      <div class="img-content-box">
        <img src="../public/images/energy.png" width="200px" height="200px" alt="energy-icon">
        <div class="content">
            <p>Energy-Efficient Appliances</p>
            <hr>
            <ul>
                <li><b>Public Transit:</b> Use public transportation, carpool, or bike when possible.</li>
                <li><b>Electric Vehicles (EVs):</b> Consider switching to an electric vehicle or a more fuel-efficient </li>
            </ul>
        </div>
      </div>

  </div>

  


</body>
</html>
