<%- include('template/head') %>
<body>
  <%- include('template/navbar') %>
  <h1>Weather Search</h1>
  
  <form action="/get-temperature" method="get">
    
    <label for="year">Enter Year: </label>
    <input type="text" name="year">
    <button type="submit">Search</button>
    
  </form>
</body>
</html>
