:root{
    --dark_green: #0d490aa9;
    --light_green: #8cb77e;
    --yellow: #ffd153;
}
body{
    font-family: Georgia;
    background-color: var(--light_green);
}
/* Navbar */
#nav{
    background-color: var(--dark_green);
    margin: 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
}
#nav .item{
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
}
#nav .item:hover{
    border-bottom: solid var(--yellow) 4px;
}
@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
    }
    #nav {
        flex-direction: column;
        position: fixed;
        margin: 0;
        width: 30vw;
        height: 100vh;
        transition: all 1s;
    }
    #nav .item{
        background-color: rgba(255, 0, 0, 0);
    }
    #nav .item:hover{
        border-bottom: solid var(--yellow) 3px;
    }
  }

/* Views Content */
#content-your-city{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content-take-action{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content-index {
    width: 100vw;
    display: flex;
    flex-direction: row;
}
@media (max-width: 768px){
    .content-box{
        align-self: flex-end;
        margin-right: 20px;
        right: 0;
        transition: all 0.5s;
    }
    .img-content-box{
        align-self: flex-end;
        margin-right: 20px;
        right: 0;
        transition: all 0.5s;
    }
    h1{
        display: none;
    }
}
#sub-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
/*  */

.content-box{
    width: 60vw;
    background-color: var(--dark_green);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid var(--yellow) 3px;
}
.content-box .text{
    color: white;
}
.content-box .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content-box .title {
    color: white;
    font-weight: bold;
}
.content-box p{
    padding-left: 10px;
    padding-right: 10px;
}
.img-content-box{
    width: 700px;
    padding: 10px;
    background-color: var(--dark_green);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 30px;
    border: solid var(--yellow) 3px;
}
.img-content-box p{
    font-size: larger;
    font-weight: bold;
}
.img-content-box img{
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    min-height: 200px;
    padding: 10px;
}
.img-content-box li{
    padding: 10px;
}
@media (max-width: 768px){
    .img-content-box{
        width: 50vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* INDEX */

/* Side Bar */
.side-bar {
    border: solid rgba(255, 0, 0, 0) 1px;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: solid var(--dark_green) 3px;
}
.side-bar a{
    text-decoration: none;
    color: white;
    /* 0d6dfdee */
    background-color: #e08721ee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: larger;
}
.side-bar a:hover{
    background-color: #ffd153;
    color: black;
}
@media (max-width: 768px){
    .side-bar {
        display: none;
    }
    h2{
    }
}