:root{
    --dark_green: #0d490aa9;
    --light_green: #8cb77e;
}
body{
    background-color: var(--light_green);
}
#nav{
    background-color: var(--dark_green);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#nav .item{
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light_green);
}
#nav .item:hover{
    background-color: var(--dark_green);
}
#content-your-city{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content-take-action{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-box{
    width: 60vw;
    background-color: var(--dark_green);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.content-box .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content-box .title {
    color: white;
    font-weight: bold;
}
.content-box p{
    padding-left: 10px;
    padding-right: 10px;
}
.img-content-box{
    width: 700px;
    background-color: var(--dark_green);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 30px;
}
.img-content-box p{
    font-size: larger;
    font-weight: bold;
}
.img-content-box img{
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    min-height: 200px;
    border: solid red 1px;
}
.img-content-box li{
    padding: 10px;
}